node_modules
npm-debug.log*
yarn-error.log
.pnp.cjs
.pnp.loader.mjs
.env
backend/dist
backend/artifacts
backend/cypress/screenshots
backend/cypress/videos
backend/cypress/downloads
frontend/.next
frontend/out
.DS_Store
