@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen;
}

main {
  @apply max-w-6xl mx-auto px-4 py-6;
}
